<h1> Here you can edit your blog</h1>

<%= form_tag "/blogs/#{@blog.id}", method: :patch do %>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Title: </span>
      <input type="text" class="form-control" name="title" value="<%= @blog.title %>" aria-describedby="basic-addon1">
    </div>


    <div class="form-group">
      <label for="comment">Content:</label>
      <textarea class="form-control" rows="10" id="comment" name="content" placeholder="<%= @blog.content %>"></textarea>
    </div>

 <div class="space"
    <div class="form-group">
      <label for="sel1">Category:</label>
      <select class="form-control" name="category_id" id="sel1">
        <% @categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
        <% end %>
      </select>
    </div>
  </div>  

  <button type="submit" class="btn btn-default">Edit</button>
<% end  %>

<%= form_tag "/blogs/#{@blog.id}", method: :delete do %>

  <button type="submit" class="btn btn-default">Delete</button>

<% end %>